@white: #ffffff;
@black: #1f1e1e;
@red: rgba(188, 51, 36, 1);
@red_dark: rgba(165, 21, 5, 1);
@grey: #dedede;

@font1: "Open Sans", sans-serif;
@font2: "Lora", serif;
@fomt3:"mak", serif;

@bw768: ~"(max-width: 767px)";
@w768: ~"(min-width: 768px)";

@bw1020: ~"(max-width: 1019px)";
@w1020: ~"(min-width: 1020px)";

@bw1340: ~"(max-width: 1339px)";
@w1340: ~"(max-width: 1340px)";

@bw1660: ~"(max-width: 1659px)";
@w1660: ~"(min-width: 1660px)";
