.listing {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1414px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
  .container();
 
  &__events-list {
    display: flex;
    flex-wrap: wrap;
    gap: 115px 58px;
    @media @bw1660 {
      gap: 90px 40px;
    }
    @media @bw1020 {
      gap: 90px 30px;
    }
    @media @bw650 {
      gap: 60px 0;
    }
    @media @bw650 {
      justify-content: center;
    }
 }

  &__event-card {
    width: calc(33.3333% - 38.666px);
    @media @bw1660 {
      width: calc(33.3333% - 2638.666px);
    }
    @media @bw1020 {
      width: calc(50% - 15px);
    }
     @media @bw650 {
      max-width: 450px;
      width: 100%;
    }
    margin-right: 58px;
    &:nth-child(3n) {
      margin-right: 0;
    }
  }
  
  &__events-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -29px -120px;
  }

  &__event-card {
  width: calc(33.3333% - 58px);
  margin: 0 29px 120px;
  }
}
