 .page-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 147px;
  backdrop-filter: blur(20px);
  background-color: rgba(222, 222, 222, 0.5);
  z-index: 100;
  @media @bw1660 {
    height: 111px;
  }
  @media @bw768 {
     height: 70px;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(20px);
    background-color: rgba(222, 222, 222, 0.5);
  }
  &__container {
    .container();
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
  }
  &__logo {
    width: 202px;
    height: 147px;
    font-size: 0;
    text-decoration: none ;
    @media @bw1660 {
     width: 152px;
     height: 111px;
    }
    @media @bw1020 {
      z-index: 1;
    }
    @media @bw768 {
      position: relative;
      left: -20px;
      width: 96px;
      height: 70px;
    }
  }

  &__logo-icon {
   width: 100%;
   height: 100%;
   object-fit: contain;
  }

  &__nav {
   display: flex;
   gap: 50px;
   @media @bw1020 {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100vh;
     flex-direction: column;
     padding: 210px 30px 30px;
     backdrop-filter: blur(20px);
     background-color: rgba(222, 222, 222, 0.5);
     overflow-x: hidden;
     overflow-y: auto;
     transform: translateX(-100%);
   }
  }

  &__nav-link {
   color: @black;
   font-weight: 600;
   font-size: 1.38;
   line-height: 25px;
   text-decoration: none;
   transition: color 0.2s;
  }

  &__right-block {
    width: 202px;
    @media @bw1660 {
     width: 152px;
    }
    @media @bw1020 {
     width: auto;
     margin-left: auto;
     display: flex;
     gap: 30px;
     z-index: 1;
    }
    @media @bw768 {
      gap: 13px;
    }
  } 

  &__btn {
    display: inline-flex;
    justify-content: center;
    box-sizing: border-box;
    padding: 15px 40px;
    border: 1px solid #1F1E1E;
    background-color: transparent;
    outline: none;
    color: @black;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
    overflow: hidden;
    cursor: pointer;
    @media @bw1020 {
      width: 40px;
      height: 40px;
      padding: 0;
      border: none;
      font-size: 0;
    }
    &:hover,
    &:active {
     background-color: #1F1E1E;
     color: @white;  
    }
  }
  &__user-icon {
    display: none;
    @media @bw1020 {
      display: block;
      margin: auto;
    }
  }
  &__nav-toggle {
    display: none;
    @media @bw1020 {
      display: block;
      position: relative;
      right: -11px;
      width: 40px;
      height: 40px;
      border: none;
      background-color: transparent;
    }
    &::before,
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 19px;
      left: 11px;
      width: 18px;
      height: 2px;
      border-radius: 2px;
      background-color: @black;
      transform-origin: 50% 50%;
    }
    &::before {
      top: 13px;
      box-shadow: 0 6px 0 @black;
    }
    &::after {
      top: 25px;
    }
  }
  &__nav-user {
    display: none;
    @media @bw1020 {
      margin-top: 20px;
      display: flex;
      align-items: center;
      gap: 20px;
    }
  }
  &__nav-user link {
    text-decoration: none;
  }
  &__nav-logout {
    font-size: 0;
  }
}