.about{
 &__container{
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1414px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;   
}
&__block2{
    display: grid;
    grid-auto-columns: 1fr 406px;
    gap: 90px 65px;
    grid-template-areas: 
    "pic pic2"
    "title pic2"
    "text text";
}

&__picture{
    grid-area: pic;
}

&__title{
 grid-area: title;
 margin: 10px 0 0;
 font-size: 44px;
 font-weight: 700;
}

&__picture2{
    grid-area: pic2;
    align-self: flex-end;
}

&__text{
    grid-area: text;
    margin: 0 80px 0 auto;
    max-width: 870px;
    width: 100%;
}
}