@font-face {
    font-family: "mak";
    src:local("MAK-bold") url("../assets/font/MAK-bold.woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "mak";
    src:local("MAK-light") url("../assets/font/MAK-light.woff");
    font-weight: 300;
    font-style: normal;
}
