html,
body {
  width: 100%; 
  margin: 0;
  padding: 0;
} 

.body {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 1300px;
  min-height: 100vh; 
  color: #1F1E1E;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.375;
}

.page-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 147px;
  display: flex;
  align-items: center;
  background-color: rgba(222, 222, 222, 0.5);
  backdrop-filter: blur(20px);
  z-index: 100;
}
.page-header__container {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1414px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
}

.page-header {
  background-color: rgba(222, 222, 222, 0.98);
}

@supports (backdrop-filter: blur(20px)) {
  .page-header {
    background-color: rgba(222, 222, 222, 0.5);
    backdrop-filter: blur(20px);
  }
}

.page-header__logo {
  flex-shrink: 0;
  width: 202px;
  height: 147px;
  font-size: 0;
  text-decoration: none;
}

.page-header__logo-icon {
  width: 100%;
  height: 100%;
}
.page-header__nav {
  display: flex;
  align-items: baseline;
  margin: 0 auto;
}

.page-header__nav-link {
  margin: 0 25px;
  color: #1f1e1e;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  text-decoration: none;
  transition: color 0.2s;
}

.btn {
  display: inline-block;
  box-sizing: border-box;
  padding: 15px 40px;
  border: 1px solid #1F1E1E;
  background-color: transparent;
  outline: none;
  color: #1F1E1E;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;
  overflow: hidden;
  cursor: pointer;
}

.btn:hover {
  background-color: #1F1E1E;
  color: #ffffff;
}

.page-header__right-block {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 202px;
}

.page-header__nav-link:hover {
  color: #bc3324;
}

.section-title {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 624px;
  min-height: 62px;
  margin: 0 auto 150px;
  padding: 8px 45px;
  background-color: #1F1E1E;
  color: #ffffff;
  font-family: "Lora", serif;
  font-weight: 500;
  font-size: 36px;
  line-height: 1.277;
  text-align: center;
  text-transform: uppercase;
} 

.event-card {
  display: flex;
  width: 406px;
  max-width: 100%;
  min-width: 280px;
}

.event-card__link {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: #1F1E1E;
  text-decoration: none;
}

.event-card__link:hover .event-card__title {
  color: #BC3324;
  text-decoration-color: #BC3324;
}

.event-card__picture {
  display: block;
  position: relative;
  width: 100%;
  margin: 0 0 25px;
  font-size: 0;
  text-decoration: none;
  overflow: hidden;
}

.event-card__picture::after {
  content: "";
  display: block;
  width: 100%;
  padding-top: 107.16%;
}

.event-card__img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.event-card__title {
  margin: 0 0 15px;
  min-height: 66px;
  color: #1F1E1E;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px; 
  text-decoration: underline transparent;
  transition: color 0.2s, text-decoration-color 0.2s;
} 

.event-card__description {
  margin: 0 0 auto;
  font-size: 16px;
  line-height: 22px;
}

.event-card__time {
  margin: 15px 0 0;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
}

.listing {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1414px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
}

.listing__events-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -29px -120px;
}

.listing__event-card {
  width: calc(33.3333% - 58px);
  margin: 0 29px 120px;
}

.events {
  padding: 140px 0 100px;
}

.events__listing {
  margin-bottom: 100px;
} 

.event-card__picture {
  position: relative;
}

.event-card__picture::after {
  content: "";
  display: block;
  width: 100%;
  padding-top: 107.16%;
}

.event-card__img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.button {
   height: 20px;
   padding: 0;
   background: transparent;
   font-size: 16px;
   line-height: 20px;
   color: white;
 }

 .button--red {
   color: red;
 }

 .popup__button {
   margin: 0 10px;
 }
 
 .popup__button--no-margin {
   margin: 0;
 }