h1 {
    color: red;
}

html, body {
    width: 100%;
    margin: 0;
    padding: 0;
}

.body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 147px;
    font-family: "Open Sans ,sans-serif";
}

.page-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 147px;
    background-color: rgba(222, 222, 222, 0.5);
}

.page-header__container {
 box-sizing: border-box;
 display: flex;
 justify-content: space-between;
 align-items: center;
 width: 100%;
 max-width: 1414px;
 margin: 0 auto;
 padding-left: 40px;
 padding-right: 40px;
 }

.page-header__logo {
 width: 202px;
 height: 147px;   
}

.page-header__logo-icon {
width: 100%;
height: 100%;
object-fit: contain;
}

.page-header__nav{
 display: flex;
 gap: 50px;
}

.page-header__nav-link {
  color:rgba(31, 30, 30, 1);
font-weight: 600;
font-size: 18px;
line-height: 1,38;
text-decoration: none;
transition: color 0,2s;
}

.page-header__right-blok {
    width: 202px;
}
.page-header__btn {

}

.main {
flex: 1 0 auto;
}

.page-footer {
    flex: 0 0 auto;
    height: 455px;
}
