h1 {
    color: red;
}

html,body{
    width: 100%;
    margin: 0;
    padding: 0;
}

.body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 147px;
}

.page-header {
    position: fixed;
    top: 0;
    left: 0;
    height: 147px;
    width: 100%;
    background-color: rgba(222, 222, 222, 0.5);
}

.page-header__container {
box-sizing: border-box;
display: flex;
justify-content: center;
align-items: center;
width: 100%;
max-width: 1414px;
margin: 0 auto;
padding-left: 40px;
padding-right: 40px;
}

.page-header__logo {
 width: 202px;
 height: 147px;   
}

.page-header__logo-icon {
width: 100%;
height: 100%;
}

.main {
flex: 1 0 auto;
}

.page-footer {
    flex: 0 0 auto;
    height: 455px;
}
